.errorModule {
  background: #f5f1e3;
  font-family: "Armata", sans-serif;
  margin: 40px auto 20px;
  text-align: center;
  color: #a80000;
}
.errorModule .errorIcon {
  font-size: 54px;
  margin: 15px;
  animation: animateIcon 5s infinite;
}
.errorModule .errorMsg {
  font-size: 15px;
}
@keyframes animateIcon {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
