.main_header {
  border: none;
  position: relative;
  z-index: 100;
  height: 60px;
  border-bottom: 1px solid #efefef;
}
.logo {
  display: flex;
}
.top_bar {
  float: left;
  width: 50%;
}
.top_bar img {
  height: 2%;
  width: 22%;
  margin-top: 2%;
  margin-left: 2%;
}
.top_bar_right {
  float: right;
  width: 23%;
}
.top_bar_right a {
  color: #737373;
  text-decoration: none;
  margin-right: 5%;
}
.top_bar_right a:hover {
  color: #30bbb1;
}
.top_bar_right ul li {
  list-style: none;
  font-size: small;
}
.top_bar_right button {
  background: #d9534f;
  border-radius: 5%;
  border: 0;
  outline: none;
  color: #ffffff;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
}
.top_bar_right button:hover {
  border-radius: 15%;
}
